.align-center {
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: center;
  flex-direction: column;
  height: 98%;
}
.currentUser {
  position: absolute;
  top: 12%;         
  left: 10px;        
  background-color: #f0f0f0; 
  padding: 8px 12px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
form {
  display: flex;
  flex-direction: column;
}

input {
  margin: 12px;
  padding: 8px;
  width: 14rem;
}

input[type="password" i] {
  margin-top: 6px;
}

.btn-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-div .login-btn {
  width: 15rem;
  padding: 6px;
  font-size: 14px;
  background: orange;
  outline: none;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 1px;
}
.table{
  position: absolute;
  top: 25%;         
  left: 10px;  
}