
<h2 class="dialog-title"> {{ data.title }}</h2>
<form [formGroup]="form" class="dialog-form">
  <ng-container *ngFor="let field of entries">
    <div class="form-field" *ngIf="!field.readonly">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>{{ field.label }}</mat-label>
        <input matInput [formControlName]="field.key" />
      </mat-form-field>
    </div>
  </ng-container>
</form>

<div class="dialog-actions">
  <button (click)="cancel()" class="btn-cancel">Cancel</button>
  <button (click)="save()" class="btn-save">Save</button>
</div>
